<div class="modal-header">
    <h3 class="modal-title">Select your Metatype</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="(type, stats) in metatypes">
            <input id="{{type}}" name="metatype" type="radio" ng-model="selected.metatype.type" value="{{type}}">
            <label for="{{type}}">{{ type }}</label>
        </li>
    </ul>
    Selected:{{selected.metatype.priority}} <b>{{ selected.metatype.type }} ({{priorityData[selected.metatype.priority].metatype[selected.metatype.type].special}})</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>